<% @page_title = "\"#{@album.name}\"の収録内容" %>

<% content_for :head do %>
  <meta property="og:title" content=<%= @page_title %> />
  <meta property="og:type" content="article">
  <meta property="og:description" content=<%= @page_title %> />
<% end %>

<% content_for :cover do %>
  <main class="single-container">
    <div class="single-inner">
      <%= render "album_info" %>
    </div>
  </main>
<% end %>
