<% content_for :head do %>
  <meta property="og:title" content="MusicReviews | 音楽レビューサイト" />
  <meta property="og:type" content="website">
  <meta property="og:description" content="音楽を聴いてレビューするサイト。みんなが評価してる曲を試聴して、レビューしてみよう！新しい音楽と出会えるかも！" />
<% end %>

<% content_for :cover do %>
  <main class="single-container top-container">
    <div class="top-bg-mask">
      <div class="single-inner">
        <h1>MusicReviews</h1>
        <h2>音楽を聴いてレビューするサイト</h2>
        <p>
          音楽が一度に持ち歩けるようになって、同じ曲を何度も繰り返し聴く機会が減ってしまいました。<br>
          一曲ごとの想いを共有しよう！<br>
          みんなが評価してる曲を試聴して、レビューしてみよう！<br>
          新しい音楽と出会えるかも！
        </p>
      </div>
    </div>
  </main>

  <main class="single-container ranking-container">
    <div class="ranking-nav">
    <a href="#ranking" class="ranking-nav-btn">ランキング</a>
      <%= link_to "新着レビュー", { anchor: "#new_reviews" }, class: "ranking-nav-btn" %>
    </div>
    <div class="single-inner half-inner" id="ranking">
      <h3 class="ranking-head">ランキング</h3>
      <%= render partial: 'ranking', collection: @ranking, as: "track" %>
    </div>
    <div class="single-inner half-inner" id="new_reviews">
      <section class="review-container">
        <h3 class="new-reviews-head">新着レビュー</h3>
        <%= render partial: 'new_reviews', collection: @new_reviews, as: "review" %>
      </section>
    </div>
  </main>
<% end %>
