// Place all the styles related to the Music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,
body,
div,
p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    opacity: 0.7;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
ul,
ol {
  list-style-type: none;
}
audio {
  height: 32px;
  margin: 8px 0;
  max-width: 100%;
}
body {
  color: #eee;
  background: #0f0f0f;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
input{
  -webkit-appearance: none;
}
input[type="text"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #aaa;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  &:focus {
    box-shadow: 0 0 7px 2px #1e60d7;
    border: 1px solid #1e60d7;
  }
}
.header-top {
  background-color: #1e70e7;
  font-size: 0.8rem;
  color: #eee;
}
@media (max-width: 767px) {
  .header-top {
    background-color: #0f0f0f;
  }
}
.header-top-inner {
  display: flex;
  align-items: center;
  width: 1000px;
  height: 34px;
  margin: 0 auto;
}
@media (max-width: 1067px) {
  .header-top-inner {
    width: 700px;
  }
}
@media (max-width: 767px) {
  .header-top-inner {
    width: 90%;
    margin: 0 5%;
    height: 72px;
  }
}
.header-heading {
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .header-heading {
    display: none;
  }
}
.header-heading-sp {
  display: none;
}
@media (max-width: 767px) {
  .header-heading-sp {
    display: block;
  }
}
.header-top-nav {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  line-height: 1.2;
  li {
    padding: 0 20px;
    border-left: 1px solid #ccc;
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      padding-right: 2px;
    }
  }
}
@media (max-width: 767px) {
  .header-top-nav {
    display: none;
  }
}
.header-inner {
  display: flex;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  h1 {
    font-size: 24px;
    line-height: 70px;
    a:hover {
      opacity: 1;
      color: #1e60d7;
    }
  }
}
@media (max-width: 1067px) {
  .header-inner {
    width: 700px;
  }
}
@media (max-width: 767px) {
  .header-inner {
    width: 100%;
    h1 {
      display: none;
    }
  }
}
.navbar {
  padding: 0 10px;
  min-height: 70px;
  width: 100%;
  z-index: 90;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.5px;
  li {
    float: right;
    color: #eee;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding: 0 5%;
    min-height: 56px;
  }
}
.search-form {
  line-height: 70px;
  .search-field {
    border-radius: 20px;
    font-size: 16px;
    padding: 6px 45px 6px 20px;
    width: 450px;
    border-style: none;
    &:focus {
      outline-style: none;
    }
  }
  input[type="submit"] {
    display: none;
  }
  .fa-search {
    color: #0f0f0f;
    font-size: 16px;
    right: 22px;
    line-height: 70px;
    position: absolute;
    top: 0;
  }
}
@media (max-width: 1067px) {
  .search-form {
    .search-field {
      width: 320px;
    }
    .fa-search {
    }
  }
}
@media (max-width: 767px) {
  .search-form {
    line-height: 48px;
    .search-field {
      width: 100%;
      font-size: 12px;
      height: 30px;
      padding: 6px 32px 6px 16px;
    }
    .fa-search {
      right: calc(5% + 12px);
      line-height: 48px;
      font-size: 12px;
      top: 4px;
    }
  }
}
.top-search-form {
  .form-group {
    width: 400px;
    margin: 0 auto;
    height: 64px;
  }
  input[type="text"] {
    width: 400px;
    border-radius: 20px;
    font-size: 18px;
    padding: 6px 45px 6px 20px;
    border-style: none;
    margin: 5px auto;
    display: block;
    &:focus {
      outline-style: none;
    }
  }
  label {
    color: #0f0f0f;
    font-size: 18px;
    line-height: 33px;
    position: relative;
    left: 366px;
    bottom: 38px;
  }
  .name-label {
    bottom: 0;
    left: 16px;
    font-size: 8px;
    line-height: 1;
    color: #1e90dd;
    display: block;
    visibility: hidden;
  }
  &:focus-within .name-label {
    visibility: visible;
  }
  input[type="submit"] {
    display: none;
  }
}
@media (max-width: 767px) {
  .top-search-form {
    .form-group {
      width: 100%;
    }
    input[type="text"] {
      width: 100%;
    }
    label {
      left: calc(100% - 32px);
      bottom: 38px;
    }
  }
}
.single-container {
  background-color: #0f0f0f;
  border-top: 1px solid #616467;
  padding: 35px 0;
  color: #eee;
  min-height: 100vh;
}
@media (max-width: 767px) {
  .single-container {
    padding: 5% 0;
  }
}
.top-container {
  padding: 0;
  color: #0f0f0f;
  min-height: 350px;
  background-image: image-url("top_banner_light.jpg");
  background-size: cover;
  text-shadow: 2px 2px 10px #eee, -2px 2px 10px #eee, 2px -2px 10px #eee,
    -2px -2px 10px #eee;
  h1 {
    font-size: 32px;
    line-height: 56px;
  }
  h2 {
    font-size: 24px;
    line-height: 48px;
  }
  p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.3px;
    padding-top: 8px;
  }
}
@media (max-width: 767px) {
  .top-container {
    min-height: 224px;
    h1 {
      font-size: 24px;
      line-height: 36px;
    }
    h2{
      font-size: 16px;
      line-height: 32px;
    }
    p{
      font-size: 8px;
      letter-spacing: 0;
      line-height: 24px;
    }
  }
}
.top-bg-mask {
  padding: 56px 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}
@media (max-width: 767px) {
  .top-bg-mask {
    padding: 16px 0;
  }
}
.single-inner {
  width: 1000px;
  margin: 0 auto;
  .search-result-head{
    font-size: 24px;
  }
  .search-result-count{
    font-size: 16px;
  }
}
@media (max-width: 1067px) {
  .single-inner {
    width: 700px;
  }
}
@media (max-width: 767px) {
  .single-inner {
    width: 100%;
    padding: 0 5%;
  }
}
.text-white {
  color: #fff;
}
.artist-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .artist-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}
.artist-wrap {
  width: 250px;
  height: 256px;
  margin-bottom: 20px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 1067px) {
  .artist-wrap {
    width: 228px;
  }
}
@media (max-width: 767px) {
  .artist-wrap {
    width: 144px;
    height: 176px;
  }
}
.artist-name-wrap{
  padding: 0 8px;
}
.artist-header {
  height: 400px;
  background-size: cover;
  background-position: 50%;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(-30%, transparent),
      to(#181818)
    );
    background: linear-gradient(transparent -30%, #181818);
  }
  h2 {
    padding-top: 100px;
    font-size: 72px;
    line-height: 82px;
    letter-spacing: -0.005em;
    color: #fff;
    text-transform: none;
    margin: 0 auto;
    max-width: 70%;
    display: block;
    text-align: center;
  }
  & > * {
    position: relative;
  }
}
.album-image {
  width: 260px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .album-image {
    width: 80%;
  }
}
.track-image {
  width: 100px;
  max-width: 100%;
  height: auto;
}
.track-show-image {
  width: 160px;
}
@media (max-width: 767px) {
  .track-show-image {
    width: 60%;
  }
}
.album-container {
  padding: 16px 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.album-container-half {
  width: 50%;
  float: left;
  padding-right: 16px;
  height: 144px;
}
@media (max-width: 767px) {
  .album-container-half {
    width: 100%;
    float: none;
    padding-right: 0px;
  }
}
.album-left {
  width: 120px;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.album-show-left {
  width: 300px;
}
@media (max-width: 767px) {
  .album-show-left {
    width: 100%;
    text-align: center;
  }
}
.track-left {
  width: 200px;
}
@media (max-width: 767px) {
  .track-left {
    width: 100%;
    text-align: center;
  }
}
.album-right {
  width: calc(100% - 120px);
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.album-show-right {
  width: calc(100% - 300px);
}
@media (max-width: 767px) {
  .album-show-right {
    width: 100%;
    padding: 40px 16px;
  }
}
@media (max-width: 767px) {
  .album-artist-right {
    display: none;
  }
}
.track-right {
  width: calc(100% - 200px);
}
@media (max-width: 767px) {
  .track-right {
    width: 100%;
    padding: 16px 5% 0;
  }
}
.tracklist {
  width: 100%;
  margin-bottom: 1.5em;
}
.tracklist-row {
  outline: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  outline: none;
  display: flex;
  height: 2.5em;
  list-style-type: none;
  user-select: none;
  position: relative;
}
.tracklist-col-left {
  flex: 1 1 0;
  width: 0;
  overflow: hidden;
  padding-right: 1px;
  margin-right: -1px;
  display: block;
  height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tracklist-col-right {
  text-align: right;
  padding-right: 1em;
  font-feature-settings: "tnum";
  letter-spacing: 0;
  width: 4em;
  display: block;
  height: 2em;
}
@media (max-width: 767px) {
  .tracklist-col-right {
    display: none;
  }
}
.track-name-wrap{
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.album-name-wrap{
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tracklist-large {
  margin: 0;
  span {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .tracklist-row {
    height: auto;
  }
  .tracklist-col-left {
    height: auto;
  }
}
.track-rate {
  font-size: 20px;
  color: #ffcc33;
  margin: 5px 0;
}
.star-rating {
  position: relative;
  width: 5em;
  font-size: 24px;
}
.star-rating-small {
  font-size: 16px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
.rating-score {
  position: absolute;
  top: 0;
  left: 130px;
  color: #ffcc33;
  font-weight: 700;
}
.rating-score-small {
  left: 90px;
}
.your-review-container {
  margin-bottom: 48px;
}
.review-content {
  width: 100%;
  margin: 8px 0px 24px;
  padding: 10px;
  border-radius: 5px;
  clear: both;
  content: "";
  display: block;
  background-color: #222;
}
.review-content-left {
  float: left;
}
.review-content-right {
  width: 900px;
  float: right;
  padding-left: 8px;
}
@media (max-width: 1067px) {
  .review-content-right {
    width: calc(100% - 72px);
  }
}
.review-user-image {
  width: 70px;
  height: 70px;
  border-radius: 3px;
}
.review-user-name {
  font-size: 16px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 56px);
}
.review-edit{
  position: absolute;
  right: calc(50% - 448px);
  display: inline;
}
@media (max-width: 1067px) {
  .review-edit{
    right: calc(50% - 304px);
  }
}
@media (max-width: 767px) {
  .review-edit{
    right: calc(5% + 40px);
  }
}
.review-delete{
  position: absolute;
  right: calc(50% - 480px);
  display: inline;
}
@media (max-width: 1067px) {
  .review-delete{
    right: calc(50% - 336px);
  }
}
@media (max-width: 767px) {
  .review-delete{
    right: calc(5% + 16px);
  }
}
.review-date {
  font-size: 14px;
  color: #ccc;
}
.review-main-content {
  padding-top: 80px;
}
.no-review {
  padding-top: 10px;
  color: #ccc;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
.footer-nav {
  height: 300px;
  width: 100%;
}
.footer-copyright {
  height: 64px;
  line-height: 64px;
  text-align: center;
  &:hover {
    color: #1e60d7;
  }
}
.related-content {
  width: 100%;
  font-size: 24px;
  margin-bottom: 16px;
  span {
    font-weight: 900;
  }
}
@media (max-width: 767px) {
  .related-content {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 40px 0 32px;
  }
}
.review-form {
  margin: 24px 36px 36px;
}
@media (max-width: 767px) {
  .review-form {
    margin: 24px 5% 36px;
  }
}
.review-form-rate {
  height: 32px;
  label {
    display: inline-block;
    font-weight: 800;
  }
  .review-rate-field {
    font-size: 16px;
    color: #ffcc33;
    font-weight: 700;
    background-color: #222;
    border-radius: 5px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 26px;
    left: 240px;
    width: 48px;
    margin: 2px;
  }
  .rate{
    position: relative;
    bottom: 28px;
    right: calc(100% - 224px);
    label {
      cursor: pointer;
    }
    > input {
      display: none;
    }
    & > label:before {
      margin: 5px;
      font-size: 1.25em;
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f005";
    }
    & > .half:before {
      font-weight: 900;
      content: "\f089";
      position: absolute;
    }
    & > label {
      color: #8c8c8c;
      float: right;
      white-space: nowrap;
      overflow: hidden;
    }
    & > input:checked ~ label,
    &:not(:checked) > label:hover,
    &:not(:checked) > label:hover ~ label {
      color: #ffcc33;
    }
    & > input:checked + label:hover,
    & > input:checked ~ label:hover,
    & > label:hover ~ input:checked ~ label,
    & > input:checked ~ label:hover ~ label {
      color: #ffee11;
    }
    & > .none:before{
      width: 8px;
      opacity: 0;
    }
    & > .last:before{
      padding-right: 4px;
    }
  }
}
@media (max-width: 1067px) {
  .review-form-rate {
    .rate{
      right: calc(100% - 224px);
    }
  }
}
@media (max-width: 767px) {
  .review-form-rate {
    .rate{
      right: calc(100% - 216px);
    }
    .review-rate-field{
      font-size: 16px;
      color: #ffcc33;
      font-weight: 700;
      background-color: #222;
      border-radius: 5px;
      line-height: 24px;
      text-align: center;
      display: inline-block;
      position: relative;
      bottom: 26px;
      left: 216px;
      width: 32px;
      padding: 0 4px;
      margin: 2px;
    }
  }
}

.review-form-review {
  margin: 8px 0;
  label {
    display: block;
    font-weight: 800;
  }
  textarea {
    margin: 4px 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #222;
    color: white;
    width: 100%;
    height: 160px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .review-form-review {
    textarea {
      height: 120px;
    }
  }
}
.review-submit-btn {
  float: right;
  background-color: #1d54b9;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 12px 24px 8px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 2px solid #1d54b9;
  color: #eee;
  &:hover {
    background-color: #1e70e7;
    border: 2px solid #1d70e7;
  }
}
@media (max-width: 767px) {
  .review-submit-btn {
    float: none;
    width: 100%;
    font-size: 20px;
    margin-top: 8px;
  }
}
.user-container {
  background-image: image-url("top_banner.png");
  background-size: contain;
}
@media (max-width: 767px) {
  .user-container {
    padding: 5%;
  }
}
.user-wrapper {
  min-height: calc(100vh - 468px);
  background-color: transparent;
  max-width: 450px;
  color: #333;
  margin: 0 auto;
}
.user-inner {
  min-height: 660px;
  padding: 60px 68px 40px;
  margin-bottom: 90px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0;
  width: 100%;
  min-width: 380px;
  h2 {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 28px;
  }
  form {
    margin-bottom: 32px;
    .field {
      position: relative;
      border-radius: 4px;
      border: 0;
      margin-bottom: 16px;
      input {
        background: #333;
        border-radius: 4px;
        border: 0;
        color: #fff;
        height: 50px;
        line-height: 50px;
        padding: 16px 20px 0;
        width: 100%;
        box-shadow: none;
        box-sizing: border-box;
        font-size: 16px;
        display: block;
        &:focus {
          outline: none;
          background: #454545;
        }
      }
      label {
        left: 20px;
        font-size: 16px;
        position: absolute;
        top: 50%;
        color: #8c8c8c;
        transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
        transform: translateY(-50%);
      }
      input:focus + label,
      input:not(:placeholder-shown) + label {
        top: 7px;
        font-size: 11px;
        transform: translateY(0);
      }
      input[type="checkbox"] {
        line-height: 24px;
        height: 24px;
        margin: 4px 0;
        -webkit-appearance: checkbox;
        & + label {
          left: 30px;
          top: 0;
          font-size: 12px;
          line-height: 24px;
          color: #ddd;
        }
      }
      i{
        color: #ccc;
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
    .actions {
      input {
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        margin: 24px 0 12px;
        width: 100%;
        max-width: 100%;
        vertical-align: middle;
        padding: 16px;
        background: #1e70e7;
        display: inline-block;
        min-width: 98px;
        min-height: 37px;
        line-height: 1em;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55);
        cursor: pointer;
        border: 0;
        color: #eee;
      }
    }
  }
  a {
    color: #eee;
    font-size: 16px;
  }
  .signup-now {
    margin-bottom: 8px;
  }
  .file-field {
    height: 50px;
    #btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 86px;
      background: #1e60d7;
      color: #ddd;
      cursor: pointer;
      padding: 0 8px;
      font-size: 8px;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-radius: 4px;
      z-index: 2;
      display: none;
    }
    #user_avatar_name {
      display: inline-block;
      padding: 8px 20px 8px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      &:hover {
        background: #454545;
      }
      &::placeholder {
        color: #8c8c8c;
      }
    }
  }
}
@media (max-width: 767px) {
  .user-inner {
    padding: 40px 5% 40px;
    min-width: 280px;
    h2 {
      text-align: center;
    }
    form {
      margin-bottom: 32px;
      .field {
        margin-bottom: 24px;
        input[type="checkbox"] {
          margin: 8px 0;
        }
      }
      .actions {
        input {
          margin: 16px 0 8px;
        }
      }
    }
    .file-field {
      #user_avatar_name {
        font-size: smaller;
      }
    }
    .signin-now {
      text-align: center;
    }
    .signup-now {
      text-align: center;
    }
    .forgot-password {
      text-align: center;
    }
  }
}
#nav-toggle {
  display: none;
}
#gloval-nav {
  background: #0f0f0f;
  color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}
@media (max-width: 767px) {
  #nav-toggle {
    display: block;
    position: absolute;
    top: 24px;
    right: 5%;
    height: 32px;
    cursor: pointer;
    > div {
      position: relative;
      width: 36px;
    }
    span {
      width: 100%;
      height: 1px;
      left: 0;
      display: block;
      background: #eee;
      position: absolute;
      transition: transform 0.6s ease-in-out, top 0.5s ease;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 14px;
      }
      &:nth-child(3) {
        top: 28px;
      }
    }
    &:hover span:nth-child(1) {
      top: 4px;
    }
    &:hover span:nth-child(3) {
      top: 23px;
    }
  }
  .open {
    #nav-toggle span {
      background: #fff;
      &:nth-child(1) {
        top: 15px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        top: 15px;
        width: 0;
        left: 50%;
      }
      &:nth-child(3) {
        top: 15px;
        transform: rotate(-45deg);
      }
    }
  }
  #nav-toggle {
    z-index: 200;
  }
  #gloval-nav {
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 10px 0;
      transition: color 0.6s ease;
      &:hover {
        color: #eee;
      }
    }
    ul {
      list-style: none;
      li {
        opacity: 0;
        transform: translateX(200px);
        transition: transform 0.6s ease, opacity 0.2s ease;
        &:nth-child(2) {
          transition-delay: 0.15s;
        }
        &:nth-child(3) {
          transition-delay: 0.3s;
        }
        &:nth-child(4) {
          transition-delay: 0.45s;
        }
        &:nth-child(5) {
          transition-delay: 0.6s;
        }
        &:nth-child(6) {
          transition-delay: 0.75s;
        }
        &:nth-child(7) {
          transition-delay: 0.9s;
        }
      }
    }
  }
  /* open */
  .open {
    overflow: hidden;
    #gloval-nav {
      visibility: visible;
      opacity: 1;
    }
    #gloval-nav li {
      opacity: 1;
      transform: translateX(0);
      transition: transform 1s ease, opacity 0.9s ease;
    }
  }
}
@media (max-width: 767px) {
  .artist-container {
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .album-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.account-cancel-head{
  color: #ddd;
}
.account-cancel-btn{
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0 12px;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  padding: 16px;
  background: #e71e1e;
  display: inline-block;
  min-width: 98px;
  min-height: 37px;
  line-height: 1em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55);
  cursor: pointer;
  border: 0;
  color: #eee;
  opacity: .9;
}
.mypage-container{
  padding-bottom: 56px;
}
.mypage-image{
  border-radius: 20px;
}
.mypage-edit{
  a{
    display: inline-block;
    position: absolute;
    background: #333;
    padding: 8px;
    border-radius: 16px;
    top: 0;
    right: 0;
  }
  span{
    font-weight: normal;
    font-size: 16px;
  }
}
.mypage-edit-text{
  font-weight: normal;
  font-size: 16px;
}
.mypage-edit-icon{
  display: none;
}
@media (max-width: 767px) {
  .mypage-edit{
    a{
      padding: 8px 12px;
      border-radius: 100%;
    }
  }
  .mypage-edit-text{
    display: none;
  }
  .mypage-edit-icon{
    display: inline;
  }
}
.write-review-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .write-review-container{
    display: block;
  }
}
.write-review{
  margin-bottom: 32px;
}
.review-btn{
  margin: 0 auto;
  width: 320px;
  background-color: #1d54b9;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 8px 24px 8px;
  display: block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #1d54b9;
  color: #eee;
  cursor: pointer;
  &:hover{
    opacity: .8;
  }
  &--black{
    background: #0f0f0f;
  }
}
@media (max-width: 767px) {
  .review-btn{
    width: 100%;
    margin-bottom: 24px;
  }
}
.review-form-wrap{
  background: #0f0f0fb8;
  color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  .close-btn{
    display: inline-block;
    position: relative;
    top: 0;
    left: 95%;
    height: 32px;
    cursor: pointer;
    width: 36px;
    span {
      width: 100%;
      height: 1px;
      left: 0;
      display: block;
      background: #eee;
      position: absolute;
      transition: transform 0.6s ease-in-out, top 0.5s ease;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 28px;
      }
    }
    span {
      background: #fff;
      &:nth-child(1) {
        top: 15px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        top: 15px;
        transform: rotate(-45deg);
      }
    }
  }
}
@media (max-width: 767px) {
  .review-form-wrap{
    .close-btn{
      left: 90%;
  }
}
}
.write{
  .review-form-wrap{
    visibility: visible;
    opacity: 1;
  }
}
.review-form {
  width: 928px;
  margin: auto;
  padding: 5%;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 24px;
  &--edit{
    background: initial;
  }
}
@media (max-width: 1067px) {
  .review-form {
    width: 640px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .review-form {
    width: 90%;
    margin: auto;
  }
}
.search-form-wrap{
  display: none;
  margin-left: 12px;
}
@media (max-width: 767px) {
  .search-form-wrap{
    width: calc(100% - 112px);
  }
}
@media (max-width: 767px) {
  .search-type-wrap{
    margin-left: 0;
  }
}
.search-type-inner{
  line-height: 70px;
}
@media (max-width: 767px) {
  .search-type-inner{
    line-height: 48px;
  }
}
.search-type-select{
  border-color: #1e70e7;
  border-width: 1px;
  box-shadow: 0 0 3px 1px #1e60d7;
  font-size: 12px;
  border-style: solid;
  height: 30px;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: #0f0f0f;
  color: #eee;
  padding-left: 8px;
  &:focus{
    box-shadow: 0 0 7px 2px #1e60d7;
    border: 1px solid #1e60d7;
  }
}
@media (max-width: 767px) {
  .search-type-select{
    width: 96px;
    font-size: 8px;
    padding-left: 4px;
  }
}
.ranking-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.ranking-nav{
  display: none;
}
@media (max-width: 1067px) {
  .ranking-nav{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.ranking-nav-btn{
  display: block;
  font-size: 12px;
  padding: 8px 24px;
  border-radius: 20px;
  border: 1px solid #1e70d7;
  margin: 0 24px;
}
.rank_wrap{
  width: 100%;
  padding: 8px 8px;
}
@media (max-width: 767px){
  .rank_wrap{
    padding: 8px 0;
  }
}
.rank{
  display: inline-block;
  background: #454545;
  padding: 4px 12px;
  border-radius: 20px;
}
.ranking-head{
  width: 100%;
  padding: 24px 8px 8px;
}
.new-reviews-head{
  width: 100%;
  padding: 24px 8px 8px;
}
@media (max-width: 1067px){
  .new-reviews-head{
    padding: 56px 8px 8px;
  }
}
.top-review-content-right{
  width: calc(100% - 72px);
}
@media (max-width: 767px){
  .ranking-left{
    width: 30%;
  }
  .ranking-image{
    width: 90%;
  }
  .ranking-right{
    width: 70%;
    padding: 0;
  }
  .ranking-track-name{
    span{
      font-size: 16px;
    }
  }
  .ranking-album-name{
    font-size: 12px;
  }
  .ranking-album-release-date{
    font-size: 12px;
  }
  .ranking-star-rating{
    font-size: 16px;
    width: 100%;
  }
}
.top-user-image{
  border-radius: 100%;
}
.half-inner{
  width: 480px;
}
@media (max-width: 1067px){
  .half-inner{
    width: 700px;
  }
}
.turbolinks-progress-bar{
  height: 10px;
  background-color: #b9a11d;
}