// Place all the styles related to the Music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, div, p, ul, ol, li, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
*, :after, :before {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
  &:hover{
    opacity: .7;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
ul, ol{
  list-style-type: none;
}
audio{
  height: 32px;
  margin: 8px 0;
}
body{
  color: #eee;
  background: #0f0f0f;
  font-family: 'Noto Sans JP', sans-serif;
}
.header-inner{
  display: flex;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  h1{
    font-size: 24px;
    line-height: 70px;
  }
}
.search-form{
  line-height: 70px;
  .search-field{
    border-radius: 20px;
    font-size: 18px;
    padding: 6px 45px 6px 20px;
    width: 450px;
    border-style: none;
    &:focus{
      outline-style: none;
    }
  }
  input[type=submit] {
  display: none;
  }
  .fa-search{
    color: #0f0f0f;
    font-size: 18px;
    right: 22px;
    line-height: 70px;
    position: absolute;
    top: 0;
  }
}
.top-search-form{
  height: 40px;
  input[type=text]{
    width: 400px;
    border-radius: 20px;
    font-size: 18px;
    padding: 6px 45px 6px 20px;
    border-style: none;
    margin: 10px auto;
    display: block;
    &:focus{
      outline-style: none;
    }
  }
  label{
    color: #0f0f0f;
    font-size: 18px;
    left: 665px;
    line-height: 33px;
    position: relative;
    bottom: 42px;
  }
  input[type=submit]{
    display: none;
  }
}
.single-container {
  background-color: #0f0f0f;
  border-top: 1px solid #616467;
  padding: 35px 0;
  color: #eee;
  min-height: 100vh;
}
.top-container{
  padding: 0;
  color: #0f0f0f;
  min-height: 350px;
  background-image: image-url("top_banner_light.jpg");
  background-size: cover;
  text-shadow:  2px  2px 10px #eee ,
               -2px  2px 10px #eee ,
                2px -2px 10px #eee ,
               -2px -2px 10px #eee;
  h1{
    font-size: 32px;
    line-height: 56px;
  }
  h2{
    font-size: 24px;
    line-height: 48px;
  }
  p{
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.3px;
    padding-top: 8px;
  }
}
.top-bg-mask{
  padding: 56px 0;
  height: 100%;
  background: rgba(255,255,255,0.3);
}
.top-search-container{
  min-height: 300px;
}
.single-inner{
  width: 1000px;
  margin: 0 auto;
}
.navbar{
  padding: 0 10px;
  min-height: 70px;
  width: 100%;
  z-index: 1000;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.5px;
  li{
    float: right;
    color: #eee;
    margin-left: 16px;
  }
}
.btn{
  border-color: #1aa34a;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 11px 32px 9px;
  color: #fff;
  background-color: #1aa34a;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1)inset;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  user-select: none;
}
.text-white {
  color: #fff;
}
.btn-light{
  color: #fff;
  box-shadow: 0 0 0 2px #fff inset;
  background-color: transparent;
}
.artist-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.artist-wrap{
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  text-align: center;
}

.artist-header{
  height: 400px;
  background-size: cover;
  background-position: 50%;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(-30%,transparent),to(#181818));
    background: linear-gradient(transparent -30%,#181818);
  }
  h2{
    padding-top: 100px;
    font-size: 72px;
    line-height: 82px;
    letter-spacing: -.005em;
    color: #fff;
    text-transform: none;
    margin: 0 auto;
    max-width: 70%;
    display: block;
    text-align: center;
  }
  &>*{
    position: relative;
  }
}
.album-image{
  width: 260px;
  max-width: 100%;
  height: auto;
}
.track-image{
  width: 100px;
  max-width: 100%;
  height: auto;
}
.track-show-image{
  width: 160px;
}
.album-container{
  padding: 16px 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.album-container-half{
  width: 50%;
  float: left;
  padding-right: 16px;
}
.album-left{
  width: 120px;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.album-show-left{
  width: 300px;
}
.track-left{
  width: 200px;
}
.album-right{
  width: calc(100% - 120px);
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.album-show-right{
  width: calc(100% - 300px);
}
.track-right{
  width: calc(100% - 200px);
}
.tracklist{
  width: 100%;
  margin-bottom: 1.5em;
}
.tracklist-row {
  outline: none;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  outline: none;
  display: flex;
  height: 2.5em;
  list-style-type: none;
  user-select: none;
  position: relative;
}
.tracklist-col-left{
  flex: 1 1 0;
  width: 0;
  overflow: hidden;
  padding-right: 1px;
  margin-right: -1px;
  display: block;
  height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tracklist-col-right{
  text-align: right;
  padding-right: 1em;
  font-feature-settings: "tnum";
  letter-spacing: 0;
  width: 4em;
  display: block;
  height: 2em;
}
.tracklist-large{
  margin: 0;
  span{
    font-weight: 600;
    font-size: 1.2rem;
  }
  .tracklist-row {
    height: auto;
  }
  .tracklist-col-left{
    height: auto;
  }
}
.track-rate{
  font-size: 20px;
  color: #ffcc33;
  margin: 5px 0;
}
.star-rating {
  position: relative;
  width: 5em;
  font-size: 24px;
}
.star-rating-small{
  font-size: 16px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
.rating-score{
  position: absolute;
  top: 0;
  left: 130px;
  color: #ffcc33;
  font-weight: 700;
}
.rating-score-small{
  left: 90px;
}
.review-content{
  margin: 20px 0px;
  padding: 10px;
  border-radius: 5px;
  clear: both;
  content: "";
  display: block;
  background-color: #222;
}
.review-content-left{
  float: left;
}
.review-content-right{
  width: 900px;
  float: right;
  padding-left: 8px;
}
.review-user-image{
  width: 70px;
  height: 70px;
  border-radius: 3px;
}
.review-user-name{
  font-size: 16px;
}
.review-date{
  font-size: 14px;
  color: #ccc;
}
.review-main-content{
  padding-top: 80px;
}
.no-review{
  padding-top: 10px;
  color: #ccc;
}
.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clearfix::after{
  clear: both;
  content: "";
  display: block;
}
.footer-nav{
height: 300px;
width: 100%;
background-color: rgb(34, 34, 34);
}
.footer-copyright{
  height: 64px;
  line-height: 64px;
  text-align: center;
  &:hover{
    color: #1e60d7;
  }
}
.related-content{
  width: 100%;
  font-size: 24px;
  margin-bottom: 16px;
  span{
    font-weight: 900;
  }
}